
.imageBackground {
	background-repeat:no-repeat;
	background-position:center;
  background-size: cover;
  margin-bottom:5%
}

.bioPic {
  width: 100%;
  padding-bottom:3%;
}

.augmentedPic {
  width: 100%;
  padding-bottom:3%;
}

@media (min-width: 550px) {
  .bioPic {
    max-width:320px;
    float:left;
    padding-right:3%;
    padding-bottom:3%;
    padding-top:1.5%;
  }

  .augmentedPic {
    max-width:320px;
    float:right;
    padding-left:3%;
    padding-bottom:3%;
    padding-top:1.5%;
  }
}
